stack/output
queue/output
linked list/singly linked list/output
linked list/doubly linked list/output
classwork/
linked list/circular linked list/output
tree/binary tree/output
tree/binary tree/tree traversal/recursive traversal/output
tree/binary tree/tree traversal/Non-recursive traversal/output
tree/binary tree/tree traversal/level-order traversal/output
tree/binary search tree/output
graph/output
sorting/output
searching/output
hashing/output